{% extends 'base.html.twig' %}

{% block title %}Projets - {{ parent() }}{% endblock %}
{% block header %}<h1>Projets</h1>{% endblock %}

{% block body %}

    <div id="content">
        <div id="projects-container">
            {% for project in projects %}
                {% if not project.archived %}
                    <article class="card-project">
                        <a href="{{ path('app_project', {'id' : project.id}) }}">
                        <h2>{{ project.name }}</h2>
                        </a>
                        <div class="card-project-icons">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_project_edit', {'id' : project.id}) }}"><i class="fa-solid fa-pen"></i></a>
                            <a href="{{ path('app_project_archive', {'id' : project.id}) }}"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <article class="card-project">
                    <a href="{{ path('app_project_add') }}">
                    <i class="fa-solid fa-circle-plus add-project-icon"></i>
                    <h2>Ajouter un projet</h2>
                    </a>
                </article>
            {% endif %}
        </div>
    </div>
{% endblock %}
